.graphical {
  position: relative;
  width: 100%;
  height: 100%;
}

.graphical-dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0;
  border: solid #222222 0.025rem;
}

.graphical-off {
  background-color: #000000;
}

.graphical-on {
  background-color: #cccccc;
  border-color: #cccccc;
}

.graphical-row {
  padding: 0;
  margin: 0;
}

.graphical-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
}

.graphical-display {
  margin: 0 auto;
  width: max-content;
}

.graphical-button-group {
  margin: 0.25rem auto;
  width: max-content;
}

.graphical-header {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

.graphical-effects {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  text-align: right;
}

.graphical-effects-header {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

.pickr {
  display: none;
}

.pcr-app {
  background-color: #333333 !important;
  box-shadow: none !important;
}

.pcr-color-chooser {
  margin-top: 0.75rem !important;
}

.pcr-swatches {
  padding: 0 0.95rem !important;
}

.pcr-result {
  background-color: #222222 !important;
  color: #cccccc !important;
  border-color: #222222 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.pcr-type {
  background-color: #222222 !important;
  color: #cccccc !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.active {
  background-color: #2c2c2c !important;
}

.graphical-color {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border-radius: 0.25rem;
  background-color: #333333;
}