.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.intro-info {
  background-color: #333333;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.intro-buttons {
  background-color: #111111;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: auto;
}

.intro-brand {
  font-size: 2rem;
  font-weight: bold;
}

.intro-version {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #999999;
}

.intro-copyright {
  width: 13rem;
  margin-top: auto;
  font-size: 0.75rem;
  color: #999999;
}

.intro-update {
  margin-top: 0.75rem;
}

.intro-update-header {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #cccccc;
}

.intro-update-button {
  width: calc(100% - 0.7rem);
  background-color: #333333;
  padding: 0.35rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.intro-file {
  font-size: 0.9rem !important;
  padding: 0;
}