h1 {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 2rem;
  font-size: 2rem;
  margin-left: -0.15rem;
}

.ls-textbox {
  background: #333333;
  border-radius: 0.25rem;
  border-style: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #cccccc;
  transition: 0.2s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.ls-textbox:hover {
  background: #444444;
}

.ls-textbox:focus {
  background: #444444;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #22222200;
  color: #cccccc;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.checkbox {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.15rem;
  border-width: 0.1rem;
  border-style: solid;
  margin-top: -0.25rem;
  padding: 0;
}

.ticked {
  background-color: #cccccc;
  border-color: #cccccc;
}

.checkbox.off {
  background-color: #000000;
  border-color: #cccccc;
}

.ls-button {
  display: inline-block;
  background: #333333;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  width: 7rem;
}

.ls-button:hover {
  background: #444444;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c2c;
  border-radius: 3.5px;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 3.5px;
}

.app {
  background-color: #222222;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dialog-close {
  background-color: #11111199;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.dialog {
  background-color: #2c2c2c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 12;
}

.export-dialog {
  background-color: #2c2c2c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 12;
}

.output {
  background-color: #2c2c2c;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: calc(100% - 1rem);
  margin-right: auto;
}

.output-header {
  display: flex;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
}

.output-copy {
  cursor: pointer;
}

.output-body {
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
  word-wrap: break-word;
  max-height: 10rem;
  scrollbar-color: #333333 #2c2c2c;
  scrollbar-width: thin;
  margin-top: 0.25rem;
  word-wrap: break-word;
  overflow-x: hidden;
  max-width: 67.9rem;
}

.output-header-text {
  margin-right: auto;
}

ul {
  margin-top: 0rem;
  margin-left: 1.2rem;
  margin-bottom: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}