.text {
  width: 100%;
  height: 100%;
  display: flex;
}

.text-container {
  width: 100%;
  height: 100%;
}

.text-sidebar {
  padding-top: 0.55rem;
  overflow-y: hidden;
  max-width: 15rem;
  min-width: 15rem;
  height: 100%;
  background-color: #272727;
  margin: 0;
}

.text-sidebar-header {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.25rem;
  margin-left: 0.75rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  position: relative;
}

.text-sidebar-item {
  padding: 0.4rem 0.75rem;
  font-size: 0.9rem;
  transition: 0.2s;
}

.text-sidebar-item:hover {
  background-color: #303030;
}

.text-sidebar-item-active {
  background-color: #333333;
}

.text-add-menu {
  color: #999999;
  position: absolute;
  right: 0.35rem;
  display: inline-block;
}

.text-add-file {
  display: inline-block;
  transition: 0.2s;
}

.text-add-file:hover {
  color: #ffffff;
}

.text-add-new {
  display: inline-block;
  padding-left: 0.10rem;
  transition: 0.2s;
}

.text-add-new:hover {
  color: #ffffff;
}