.text {
  width: 100%;
  height: 100%;
  display: flex;
}

.text-container {
  width: 100%;
  height: 100%;
}

.text-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0.55rem;
  overflow-y: hidden;
  max-width: 15rem;
  min-width: 15rem;
  height: 100%;
  background-color: #272727;
  margin: 0;
}

.text-sidebar-header {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.25rem;
  margin-left: 0.75rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  position: relative;
}

.text-sidebar-item {
  padding: 0.4rem 0.75rem;
  font-size: 0.9rem;
  transition: 0.2s;
}

.text-sidebar-item:hover {
  background-color: #303030;
}

.text-sidebar-active {
  background-color: #333333 !important;
}

.text-add-menu {
  color: #999999;
  position: absolute;
  right: 0.35rem;
  display: inline-block;
}

.text-add-file {
  display: inline-block;
  transition: 0.2s;
}

.text-add-file:hover {
  color: #ffffff;
}

.text-add-new {
  display: inline-block;
  padding-left: 0.10rem;
  transition: 0.2s;
}

.text-add-new:hover {
  color: #ffffff;
}

.text-sidebar-files {
  overflow-y: auto;
  overflow-x: hidden;
}

.text-sidebar-properties {
  border-top: #444444 solid 1px;
  margin-top: auto;
  height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-sidebar-properties-table {
  border-bottom: #333333 solid 1px;
  margin-bottom: 1rem;
}

.text-sidebar-properties-row {
  border-top: #333333 solid 1px;
  margin: 0;
  max-width: calc(100% - 1.5rem);
  min-width: calc(100% - 1.5rem);
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.55rem;
}

.text-sidebar-properties-header {
  padding-top: 0.15rem;
  padding-bottom: 0.25rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9rem;
  width: 50%;
}

.text-sidebar-properties-option {
  margin: auto 0 auto auto;
}

.text-sidebar-properties-text {
  margin-top: -0.125rem;
  background-color: #272727;
  border: none;
  padding: 0;
  outline: none !important;
  font-size: 0.9rem;
  color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: right;
  width: 100%;
}

.text-sidebar-properties-readonly {
  color: #aaaaaa;
}

.text-properties-add-menu {
  color: #999999;
  position: absolute;
  right: 0.45rem;
  display: inline-block;
  top: 0.1rem;
}

.text-sidebar-properties-divider {
  height: 1px;
  width: calc(100% + 0.25rem);
  background-color: #333333;
}

#properties-effect-pcount {
  margin-right: 0;
}